<app-nav-bar></app-nav-bar>
<h1 *ngIf="!isLogged" class="container">ACCESO DENEGADO</h1>
<div class="container" *ngIf="isLogged">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" action="">
                <div class="form-group">
                    <label for="institucionE">Nombre puesto</label>
                    <input type="text" class="form-control" id="puesto" name="puesto" [(ngModel)]="expe.puesto" required>
                </div>
                <div class="form-group">
                    <label for="tituloE">Nombre empresa</label>
                    <input type="text" class="form-control" id="empresa" name="empresa" [(ngModel)]="expe.empresa" required>
                </div>
                <div class="form-group">
                    <label for="inicioE">Fecha inicio</label>
                    <input type="text" class="form-control" id="inicioE" name="comienzo" [(ngModel)]="expe.comienzo" required>
                </div>
                <div class="form-group">
                    <label for="finalE">Fecha finalización</label>
                    <input type="text" class="form-control" id="finalizo" name="finalizo" [(ngModel)]="expe.finalizo" required>
                </div>
                <div class="form-group">
                    <label for="finalE">Tareas</label>
                    <input type="text" class="form-control" id="tareas" name="tareas" [(ngModel)]="expe.tareas" required>
                </div>
                <div>
                    <button class="btn btn-success" style="margin-top: 30px;margin-bottom: 30px;margin-right:20px ;">
                        Guardar
                    </button>
                    <button class="btn btn-secondary" style="margin-top: 30px;margin-bottom: 30px;" routerLink="/profile">
                        Regresar a perfil
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-footer style="position:absolute;bottom:0;width: 100%;"></app-footer>

