<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm" action="">
                <div class="form-group">
                    <label for="institucionE">Imagen Proyecto</label>
                    <input type="file" class="form-control" id="img" name="img" [(ngModel)]="img" accept=".png .jpg .jpeg">
                </div>
                <div class="form-group">
                    <label for="tituloE">Titulo</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="titulo" required>
                </div>
                <div class="form-group">
                    <label for="inicioE">Descripcion</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion" required>
                </div>
                <div class="form-group">
                    <label for="inicioE">Link pag web</label>
                    <input type="text" class="form-control" id="web" name="web" [(ngModel)]="web" required>
                </div>
                <div class="form-group">
                    <label for="inicioE">Link git</label>
                    <input type="text" class="form-control" id="git" name="git" [(ngModel)]="git" required>
                </div>
                <div>
                    <button class="btn btn-success" style="margin-top: 30px;margin-bottom: 30px;margin-right:20px ;">
                        Guardar
                    </button>
                    <button class="btn btn-secondary" style="margin-top: 30px;margin-bottom: 30px;" routerLink="/profile">
                        Regresar a perfil
                    </button>
                    </div>
            </form>
        </div>
    </div>
</div>
<app-footer style="position:absolute;bottom:0;width: 100%;"></app-footer>
