<app-nav-bar></app-nav-bar>
<div class="container" *ngIf="persona">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" action="">
                <div class="form-group">
                    <label for="finalE">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
                </div>
                <div class="form-group">
                    <label for="institucionE">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido"  [(ngModel)]="persona.apellido" required>
                </div>

                <div class="form-group">
                    <label for="inicioE">Curriculum</label>
                    <input type="text" class="form-control" id="cv" name="cv"  [(ngModel)]="persona.cv" required>
                </div>
                <div class="form-group">
                    <label for="finalE">Titulo</label>
                    <input type="text" class="form-control" id="titulo" name="titulo"  [(ngModel)]="persona.titulo" required>
                </div>
                <div class="form-group">
                    <label for="finalE">Sobre Mi</label>
                    <textarea type="text" class="form-control" id="sobreMi" name="sobreMi"   [(ngModel)]="persona.sobreMi" required></textarea>
                </div>
                <div class="form-group">
                    <label for="finalE">Email</label>
                    <input type="text" class="form-control" id="email" name="email"   [(ngModel)]="persona.email" required>
                </div>
                <div class="form-group">
                    <label for="finalE">Ubicacion</label>
                    <input type="text" class="form-control" id="ubicacion" name="ubicacion"  [(ngModel)]="persona.ubicacion" required>
                </div>

                <div class="form-group">
                    <label for="finalE">Imagen perfil</label>
                    <input type="file" class="form-control" id="img" name="img"  [(ngModel)]="persona.img" (change)="uploadImage($event)" accept=".png .jpg .jpeg">
                </div>
                
                <div class="imagen" style="margin:15px 0px 10px 0px">
                    <img [src]="imageService.url" width="20%" height="20%">
                </div>
                
                <div>
                    <button class="btn btn-success" style="margin-top: 30px;margin-bottom: 30px;margin-right:20px ;">
                        Guardar
                    </button>
                    <button class="btn btn-secondary" style="margin-top: 30px;margin-bottom: 30px;" routerLink="/profile">
                        Regresar a perfil
                    </button>
                    </div>
            </form>
        </div>
    </div>

</div> 

<app-footer style="position:absolute;bottom:0;width: 100%;margin-top: 30px;"></app-footer>