<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm" action="">
                <div class="form-group">
                    <label for="institucionE">Nombre institucion</label>
                    <input type="text" class="form-control" id="institucionE" name="institucionE" [(ngModel)]="institucionE" required>
                </div>
                <div class="form-group">
                    <label for="tituloE">Nombre titulo</label>
                    <input type="text" class="form-control" id="tituloE" name="tituloE" [(ngModel)]="tituloE" required>
                </div>
                <div class="form-group">
                    <label for="inicioE">Fecha inicio</label>
                    <input type="text" class="form-control" id="inicioE" name="inicioE" [(ngModel)]="inicioE" required>
                </div>
                <div class="form-group">
                    <label for="finalE">Fecha finalizacion</label>
                    <input type="text" class="form-control" id="finalE" name="finalE" [(ngModel)]="finalE" required>
                </div>
                <div>
                    <button class="btn btn-success" style="margin-top: 30px;margin-bottom: 30px;margin-right:20px ;">
                        Guardar
                    </button>
                    <button class="btn btn-secondary" style="margin-top: 30px;margin-bottom: 30px;" routerLink="/profile">
                        Regresar a perfil
                    </button>
                    </div>
            </form>
        </div>
    </div>
</div>

<app-footer style="position:absolute;bottom:0;width: 100%;"></app-footer>