<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm" action="">
                <div class="form-group">
                    <label for="institucionE">Nombre institucion</label>
                    <input type="text" class="form-control" id="institucionE" name="institucionE" [(ngModel)]="institucionE" required>
                </div>
                <div class="form-group">
                    <label for="tituloE">Nombre titulo</label>
                    <input type="text" class="form-control" id="tituloE" name="tituloE" [(ngModel)]="tituloE" required>
                </div>
                <div class="form-group">
                    <label for="inicioE">Fecha inicio</label>
                    <input type="text" class="form-control" id="inicioE" name="inicioE" [(ngModel)]="inicioE" required>
                </div>
                <div class="form-group">
                    <label for="finalE">Fecha finalizacion</label>
                    <input type="text" class="form-control" id="finalE" name="finalE" [(ngModel)]="finalE" required>
                </div>
                <button class="btn btn-success">
                    Agregar
                </button>
            </form>
        </div>
    </div>
</div>
